.text-body {
  font-size: var(--font-body);
  font-family: var(--font-body);
  color: var(--text-color);
}

.text-title{
  font-size: var(--font-lg);
  font-family: var(--font-title);
  color: var(--text-color);
}
.text-subtitle{
  font-size: var(--font-xl);
  font-family: var(--font-title);
  color: var(--text-color);
}
.dividerX{
  width: 100%;
  margin: 10px 0px;
  height: 1px;
  background: var(--border-color);
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}
.mt-3{
  margin-top: 3rem;
}
.mt-4{
  margin-top: 4rem;
}
.mt-5{
  margin-top: 5rem;
}

.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.mb-3{
  margin-bottom: 3rem;
}
.mb-4{
  margin-bottom: 4rem;
}
.mb-5{
  margin-bottom: 5rem;
}
@media (min-width: 790px){
  .text-body {
    font-size: var(--font-lg);
    font-family: var(--font-body);
    color: var(--text-color);
  }
  .text-title{
    font-size: var(--font-2xl);
    font-family: var(--font-title);
    color: var(--text-color);
  }
  .text-subtitle{
    font-size: var(--font-xl);
    font-family: var(--font-title);
    color: var(--text-color);
  }
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}